{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fadlan site</title>
    <link rel="stylesheet" href="{% static 'hmm.css' %}?{% now 'U' %}">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about-me">About me</a></li>
            <li><a href="#skill">Skill</a></li>
            <li><a href="#academic-project">Academic Project</a></li>
            <li><a href="#activity">Activity</a></li>
            <li><a href="#guild">Guidelines</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <h1 class="animated-header">ASSALAMMUALAIKUM, HELLO!</h1>
    <main>
        <div class="intro">
            <div class="content">
                <div class="text">
                    <h2 class="animated-header">DATA SCIENCE AND ANALYTICS STUDENT</h2>
                </div>
                <div id="divider"></div>
                <p class="text animated-header">Fadlan Suema</p>

            </div>
        </div>
    </main>

    <section id="about-me">
        <h2 id="about" class="animated-header">About me</h2>
        <div id="content-wrapper" class="animated-header">
            <div>
                <a id="aboutm3" href="https://drive.google.com/file/d/1DPw3ZNKs_THHQ-GB4KfQuWBXlVjB7nx9/view?usp=sharing" target="_blank">
                    <i></i> My Resume
                </a>
            </div>
            <div id="divider"></div>
            <p id="content ">
                Hello, I am Fadlan, an international data science junior student studying at Fatoni University.<br>
                On this website, I will introduce a simple study method for those interested in this field.
            </p>
        </div>


    </section>
    <section id="skill">
        <h2 class="animated-header">My Skills</h2>
        <div class="skill-card">
            <img src="static/image/1.png" alt="Web Development" class="skill-logo">
            <h3>Web Development</h3>
            <p>Experienced in HTML, CSS, and JavaScript for building responsive websites.</p>
        </div>
        <div class="skill-card">
            <img src="static/image/2.png" alt="Data Analysis" class="skill-logo">
            <h3>Data Analysis</h3>
            <p>Skilled in data manipulation and visualization using Python, R, and SQL.</p>
        </div>
        <div class="skill-card">
            <img src="static/image/3.png" alt="Machine Learning" class="skill-logo">
            <h3>Machine Learning</h3>
            <p>Knowledgeable in using Scikit-Learn and TensorFlow for predictive modeling.</p>
        </div>
        <div class="skill-card">
            <img src="static/image/5.png" alt="Data Engineer" class="skill-logo">
            <h3>Data Engineer</h3>
            <p>Made pip line connecting a database with Cassandra into the database.</p>
        </div>
    </section>
    
    <section id="academic-project">
        <h2 id="acd" class="animated-header">Academic Project</h2>
        <div id="divcon">
            {% for project in academic_projects %}
                <h3 id="h3acd" class="animated-header">{{ project.title }}:</h3>
                <p id="acdcon" class="animated-header">{{ project.description }}</p><br>
            {% empty %}
                No academic projects available at the moment.<br>
            {% endfor %}
            <a id="learnmore" href="https://github.com/phqsuema123?tab=repositories" target="_blank" class="animated-header">
                <i class="fab fa-github"></i> See more details on GitHub
            </a>
        </div>
    </section>
    

    <section id="activity">
        <h2 id="act" class="animated-header">Activity</h2>
        <p id="pact" class="animated-header">
            {% for activity in activities %}
                - {{ activity.title }}<br>
                {{ activity.description }}<br><br>
            {% empty %}
                No activities available at the moment.<br>
            {% endfor %}
        </p>
    </section>
    
    <div class="row"> 
        <div class="column ">
            <div class="container">
                <img src="/static/image/activity/IMG_0160.jpg" style="width:100%" alt="Activity Image 1">
                <div class="overlay">
                  <div id="p-text">waited for presentation</div>
                </div>
            </div>
            <div class="container">
                <img src="/static/image/activity/IMG_0161.JPG" style="width:100%" alt="Activity Image 2">
                <div class="overlay">
                  <div id="p-text">listened reviews</div>
                </div>
            </div>
          
        </div>
        
        <div class="column">
            <div class="container">
                <img src="/static/image/activity/IMG_0176.jpg" style="width:100%" alt="Activity Image 3">
                <div class="overlay">
                  <div id="p-text">Take picture with my boss</div>
                </div>
            </div>
            <div class="container">
                <img src="/static/image/activity/IMG_1559.jpg" style="width:100%" alt="Activity Image 4">
                <div class="overlay">
                  <div id="p-text">Take picture with my friends</div>
                </div>
            </div>
          
          
        </div> 
         
        <div class="column">            <div class="container">
            <img src="/static/image/activity/IMG_5870.JPG" style="width:100%" alt="Activity Image 5">
            <div class="overlay">
              <div id="p-text">My team</div>
            </div>
        </div>
        <div class="container">
            <img src="/static/image/activity/IMG_8762_Original.JPG" style="width:100%" alt="Activity Image 6">
            <div class="overlay">
              <div id="p-text">Greet thai style at UMK</div>
            </div>
        </div>
          
          
        </div>
        
        <div class="column">
            <div class="container">
                <img src="/static/image/activity/IMG_8765_Original.JPG" style="width:100%" alt="Activity Image 7">
                <div class="overlay">
                  <div id="p-text">Met student and teacher UMK</div>
                </div>
            </div>
            <div class="container">
                <img src="/static/image/activity/IMG_7314.jpg" style="width:100%" alt="Activity Image 8">
                <div class="overlay">
                  <div id="p-text">Take picture with student UMK</div>
                </div>
            </div>
          
          
        </div>
    </div> 
    
    <section id="guild">
        <h2 class="animated-header">Share your advice for those interested in data science</h2>
        <div id="disqus_thread"></div>
        <script>
            (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://presonalwebsite.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
    <footer id="contact">
        <h2 id="mc" class="animated-header">My CONTACT</h2>
        <div class="flex-container">
            <div>
                <a href="https://web.facebook.com/profile.php?id=100089751685266" target="_blank">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a>
            </div>
            <div>
                <i class="fas fa-envelope"></i>
                <span>pqh.suema@gmail.com</span>
            </div>
            <div>
                <a href="https://github.com/phqsuema123?tab=repositories" target="_blank">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </div>
    </footer>

    <script src="{% static 'jss.js' %}"></script>
</body>