{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Website</title>
    <link rel="stylesheet" href="{% static 'hmm.css' %}?{% now 'U' %}">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#about-me">About me</a></li>
            <li><a href="#academic-project">Academic Project</a></li>
            <li><a href="#activity">Activity</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <h1>ASSALAMMUALAIKUM, HELLO!</h1>
    <main>
        <div class="intro">
            <div class="content">
                <div class="text">
                    <h2>DATA SCIENCE AND ANALYTICS STUDENT</h2>
                </div>
                <div id="divider"></div>
                <p class="text">Fadlan Suema</p>
            </div>
        </div>
    </main>

    <section id="about-me">
        <h2 id="about">About me</h2>
        <div id="content-wrapper">
            <div id="divider"></div>
            <p id="content">
                Hello, I am Fadlan, an international data science junior student studying at Fatoni University.<br>
                On this website, I will introduce a simple study method for those interested in this field.
            </p>
        </div>
    </section>
    
    <section id="academic-project">
        <h2 id="acd">Academic Project</h2>
        <div id="divcon">
            <h3 id="h3acd">Web development with Django:</h3>
            <p id="acdcon">- Discount calculation web
                <br>- Tourist recommendation website</p>
            <h3 id="h3acd">CRISP-DM (Cross-industry standard process for data mining)</h3>
            <p id="acdcon">- Thai happiness life segmentation
                <br>- Spam email classification
                <br>- Segmenting loan applicants to assess risk</p>                                
                <a id="learnmore" href="https://github.com/phqsuema123?tab=repositories" target="_blank">You can see more detail on GitHub\phqsuema123.</a>   

        </div>
  
    </section>

    <section id="activity">
        <h2 id="act">Activity</h2>
        <p>- Being an intern at IBN Affan cooperative.<br>
            - I am an exchange student with UMK University.<br>
            - Participated in the Toyota campaign competition and ranked joint 5th.<br>
            - Chairman of the freshman camp.
        </p>
    </section>
    <footer id="contact">
        <h2 id="mc">My CONTACT</h2>
        <a href="https://web.facebook.com/profile.php?id=100089751685266" target="_blank">Facebook</a>
        <p>pqh.suema@gmail.com</p>
        <a href="https://github.com/phqsuema123?tab=repositories">GitHub</a>
    </footer>
</body>
</html>
