aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15%;
    float: right;
    font-style: italic;
}

body {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {
    color: white;
    text-align: center;
}
nav{
    text-align:center;
}
